  <!DOCTYPE html>
  <html>
    <head>

      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="css/w3.css">
      <link rel="stylesheet" href="css/myStyle.css" type="text/css">
      <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        td {padding:20px;}
      </style>
    </head>

    <body>

     <div class="row">
       
      <div class="col s12 Header">
        <span class="Header-text">Appointment Booking</span>
        </div>
      
    </div>

    <div class="row">

      <div class="col s3 card-panel teal lighten-2">
        <!-- Grey navigation panel -->
      </div>

      <div class="col s9 card-panel  #3949ab indigo darken-1">

        <div>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"> <img class="w3-circle" src="images/1.png" </a>
          
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="service.html">ServiceM</a></li>
            <li><a href="servicemen.html">ServiceF</a></li>
            <li ><a href="index.html">Stylist Info</a></li>
            <li class="active"><a href="about.html">About Us</a></li>
             <li class="loginText"><a href="login.html">Login</a></li>
          </ul>
        </div>
      </nav>
      <br><br>

      <div class="w3-container w3-theme-d4">
        <p class="w3-large" align="center">Take Appointment</p>
      </div>
      <div class="w3-row-padding w3-theme">
         
          <div>
            <form>
            <table>
            <br>
              <tr>
              <div class="group">

              <td> Service type: </td>

              <td>  
                    <input type="checkbox" id="serviceType1" value="serviceType"/> <label for="serviceType1">Hair Cut</label>
                    <input type="checkbox" id="serviceType2" value="serviceType"/><label for="serviceType2">Shaving</label>
                    <input type="checkbox" id="serviceType3" value="serviceType"/><label for="serviceType3">Trimming</label>
                    <input type="checkbox" id="serviceType4" value="serviceType"/><label for="serviceType4">Hair colouring</label>
              </td>
              </div>
              <br>
              </tr>
              <tr>
              <div class="group">
              <td>  Select Stylist: </td>
              <td>  
                <div class="form-group">
                    <select id="s1" class="form-control">
                      <option value="select">Click here to select stylist</option>
                      <option value="naresh">Naresh</option>
                      <option value="bangaru">Bangarubabu</option>
                      <option value="mithra">Mithra</option>
                    </select>
                </div>
              </td>
              </div>
              <br>
              </tr>
              <tr>
              <div class="group">
              <td>  Date :</td>
              <td>  <input type="date" value="date"> </td>
              </div>
              </tr>
              <tr>
              <div class="group">
              <td>  Time :</td>
              <td> <input type="time" value="time"> </td>
              </div>
              </tr>
              <tr>
              <td></td>
              <td>
                  
              <button type="button" class="button buttonBlue">Submit
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
              </button>
              </td>
              </tr>
             </table>
            </form>

          </div>

              
      </div>
    </div>
      </div>

    </div>

    <footer class="page-footer teal lighten-2">
          
            
          <div class="footer-copyright">
            <div class="container">
            NammaSaloon @2016  
            <a class="grey-text text-lighten-4 right" href="#!">Follow Us</a>
           
            </div>
          </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
        