  <!DOCTYPE html>
  <html>
    <head>

      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
     
      <link rel="stylesheet" href="css/w3.css">
      <link rel="stylesheet" href="css/myStyle.css" type="text/css">
            <link rel="stylesheet" href="css/style.css" type="text/css">
      <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        
      </style>
    </head>

    <body>

     <div class="row">
       
      <div class="col s12 Header">
        <span class="Header-text">Appointment Booking</span>
        </div>
      
    </div>

    <div class="row">

      <div class="col s3 card-panel teal lighten-2">
        <!-- Grey navigation panel -->
      </div>

      <div class="col s9 card-panel  #3949ab indigo darken-1">

        <div>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"> <img class="w3-circle" src="images/1.png" </a>
          
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="appointment.html">Appointment</a></li>
            <li><a href="service.html">ServiceM</a></li>
            <li><a href="servicemen.html">ServiceF</a></li>
            <li ><a href="index.html">Stylist Info</a></li>
            <li class="active"><a href="about.html">About Us</a></li>
             <li class="loginText"><a href="login.html">Login</a></li>
          </ul>
        </div>
      </nav>
      <br><br>

      
<div class="w3-row-padding w3-theme">


<div class="row women">
<div class="col s6">
<img src="images/hair-trimming.jpg" alt="" class="img-circle">
<p>Hair Cut</p>
</div>

<div class="col s6">
<img src="images/nail-polish.jpg" alt="" class="img-circle"> 
<p>Nail Polish</p>  
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col s6">
<img src="images/facial.jpg" alt="" class="img-circle">
<p>Facial</p>
</div>

<div class="col s6">
<img src="images/pedicure-manicure.jpg" alt="" class="img-circle"> 
<p>Pedicure/Manicure</p>  
</div>
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col s6">
<img src="images/haircolouring.jpg" alt="" class="img-circle">
<p>Hair Colour</p>  
</div>

<div class="col s6">
<img src="images/threading.jpg" alt="" class="img-circle"> 
<p>Threading</p>   
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col s6">
<img src="images/waxing.jpg" alt="" class="img-circle">
<p>Waxing</p>  
</div>

<div class="col s6">
<img src="images/blowout.jpg" alt="" class="img-circle"> 
<p>Blowout</p>    
</div>
</div>

<!--<div class="row men">
<div class="col s6">
<img src="images/hair-trimming-men.jpg" alt="" class="img-circle">
<p>Hair Cut</p>
</div>

<div class="col s6">
<img src="images/hairstraightening.jpg" alt="" class="img-circle"> 
<p>Hair Straightening</p>   
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col s6">
<img src="images/beard-trim.png" alt="" class="img-circle">
<p>Beard Trim</p>
</div>

<div class="col s6">
<img src="images/haircolouring-men.jpg" alt="" class="img-circle">
<p>Hair Colour</p>  
</div>
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col s6">
<img src="images/waxing-men.jpg" alt="" class="img-circle">
<p>Waxing</p>  
</div>

<div class="col s6">
<img src="images/shaving.jpg" alt="" class="img-circle">
<p>Shaving</p>   
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col s6">
<img src="images/facial-men.jpg" alt="" class="img-circle">
<p>Facial</p>  
</div>

<div class="col s6">
<img src="images/kids-cut.jpg" alt="" class="img-circle">
<p>Kids Cut</p>
</div>
</div>


    </div>
      </div>

    </div>-->

   <br><br>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
<br>
       <footer class="page-footer teal lighten-2">
          
            
          <div class="footer-copyright">
            <div class="container">
            NammaSaloon @2016  
            <a class="grey-text text-lighten-4 right" href="#!">Follow Us</a>
           
            </div>
          </div>
        </footer>
    </body>
  </html>
        